* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: lightgoldenrodyellow;
}

.age-display {
  font-size: 28px;
}

.age-input {
  padding: 7px;
  font-size: 18px;
  border: 2px solid goldenrod;
}
